:root{
    --main-bg-color: #14213D;
    --main-icon-color: #FCA311;
    --main-button-color: #0052CC;
    --main-content-color:#333533;
    --main-title-font: 'Roboto', sans-serif;
    --main-content-font:'Montserrat', sans-serif;
}

/* Makes icons render reliably (for pseudo-elements)*/
.icon::before {
    /* removed font- based rules */
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.icon{
    color:var(--main-icon-color);
}

.button{
    color:var(--main-button-color);
}

a.link:hover{
    color:var(--main-icon-color) ;
} 

.titles{
    color:var(--main-bg-color);
    font-weight: bold;
    text-align: center;
    font-family: var(--main-title-font);
}

.lines{
    color: var(--main-icon-color);
    opacity: 1;
}
.content{
    color: var(--main-content-color);
    font-family: var(--main-content-font);
}

/* Styling FOR NAVBAR */
.navbar{
    background-color: white;
}

a.link{
    color:var(--main-bg-color);
    font-size:1.25rem;
}
.bg-dark-blue{
    background-color: var(--main-bg-color);
}

/* Add Javascript to display none and or change class */
/* Hamburger icon */
.navbar-toggler-icon::before{
    content: "\f0c9";
    font:var(--fa-font-solid);
    position: relative;
    top: 5px;
    color: var(--main-icon-color);
}

/* X icon */
button[aria-expanded="true"] .navbar-toggler-icon::before{
    content: "\58";
    font:var(--fa-font-solid);
    position: relative;
    top: 5px;
    color: var(--main-icon-color);
}

.navbar .navbar-toggler:focus{
    box-shadow: 0 0 0 .15rem var(--main-icon-color);
}

/* Toggle to full screen */
/* media query to remove on bigger screens */

.navbar-nav {
    height: 95vh;   
}
/* END OF NAVBAR */

/* Hero Section */
.hero-section{
    background-image: url("../IMG/hero-bg.jpg");
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 50% 100%, 0 80%);
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 50% 100%, 0 80%);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: 30vh;
    padding: .5rem;
}

.hero-text-special{
    color: var(--main-icon-color)
}
/* END OF Hero */

/* Langs */
.langs{
    height: 10%;
    background-color: rgba(255,255,255,.9) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 1.5px 4px;
    padding: 50px;
    gap: 25px;
}

.lang-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-bg-color);
    font-family: var(--main-title-font);
}

.langs img{
    height: 50px;
}

/* Card-info */
.card-section{
    width: 100%;
}

.card-info{
    box-shadow: 1px 1.5px 4px;
}

.card-img-bg{
    width: 100%;
    height: 20vh;
    background-color: var(--main-bg-color);
    border-radius: 5%;
}

.card-img-bg img{
    width: 90%;
    height: 90%;
}
/* .card-info img{
    width: 100%;
    height: 100%;
} */

/* END CARD-Info */

/* ABOUT ME Section */
.accordion-item{
    border:0 !important;
    border-bottom: 1px solid var(--main-bg-color) !important;
}


/* Testimonal */
.carousel .carousel-indicators button{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    bottom:-50px;
    background-color: var(--main-icon-color);
    position: relative;
}

@media only screen and (min-width: 768px) {
    .hero-section{
        height: 35vh;
    }
}

@media only screen and (min-width: 992px) {
    .navbar-nav {
        height: 5vh;   
    }
    .hero-section{
        height: 80vh;
    }
    .hero-text h1{
        font-size: 72px;
        padding-top:50px;
    }
    .custom-row{
        display: flex;
        height: 70vh; 
    }
    .custom-row h2{
        padding-top: 40px;
        font-size: 54px;
    } 
    .titles{
        font-size: 36px;
    }
    button.accordion-button, div.accordion-button i{
        font-size: 36px !important;
    }
    .content{
        font-size:20px;
    }
    .custom-row:nth-child(even){
        flex-direction: row-reverse;
    }
    div.my-5{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .card-img-bg{
        height: 40vh;
    }
    .card-img-bg img{
        width: 90%;
        height: 90%;
    }
    .langs img{
        height: 90px;
    }
  }

